.card {
  background-color: #f8f8f8;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding: 1px 20px;
}

.image {
  width: 100%;
}

.title {
  color: #fe783b;
  text-transform: uppercase;
}

.subTitle {
  color: #fe783b;
}

.contentArea {
  text-align: center;
}
